body{
background-color: black;
}

.post{
    margin-top: 50px;
    margin-left: 650px;
    margin-right: 600px;
    background-color: white;
}

.img{
    width: 654px;
    height: 500px;
}

.post-header{
    align-items: center;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.post-body{
    margin-left: 10px;
}

.post-icons{
    font-size: 40px;
    align-self: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#save1{
    margin-left: 560px;
}

#save2{
    margin-left: 450px;
}
